<form [formGroup]="form" novalidate>
  <md-list formArrayName="plants">
    <md-card *ngFor="let plant of form.controls['plants'].controls; let i=index">
      <div [formGroupName]="i">
        <md-input-container>
            <input mdInput  placeholder="Enter a Plant" type="text"
                id="name" formControlName="name">
        </md-input-container>
        <button md-icon-button color="primary"
            (click)="addPlant()">
            <md-icon class="md-24">add</md-icon>
        </button>
        <button md-icon-button color="primary"
            (click)="removePlant()">
            <md-icon class="md-24">close</md-icon>
        </button>
      </div>
    </md-card>
  </md-list>
  <button md-raised-button [disabled]="!form.valid"  
    color="accent">Add</button>
  <button md-raised-button  color="accent"
    (click)="cancel()">Cancel</button>
</form>
